/data/bogi_applicable_pxe_class.pickle
/data/hardware_TSMC65nm_code.pickle
/data/hardware_UMC180nm_code.pickle
/data/opt_bogi_applicable_pe_class.pickle
/data/opt_bogi_applicable_pxe_class.pickle
/data/opt_bogi_applicable_xe_class.pickle
/data/opt_bogi_applicable_xei_class.pickle
/data/software_code.pickle
